**Foundation of Programming Exercise**

__Author__: Andreas Nugroho R <br>
__Date__: 23 October 2019

In [1]:
import pandas as pd
imdb = pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv', encoding='latin1')

In [4]:
imdb.shape

(3781, 36)

In [7]:
imdb_drop = imdb.drop_duplicates(subset='movie_title')

In [8]:
imdb_drop.shape

(3679, 36)

In [11]:
imdb_drop.columns

Index(['movie_ID', 'movie_title', 'duration', 'color', 'title_year', 'country',
       'language', 'content_rating', 'budget_USD', 'gross_USD', 'net_USD',
       'profitable', 'director_name', 'director_top20?', 'director_facebook?',
       'director_facebook_likes', 'actor_1_name', 'actor_top20?',
       'actor_1_facebook?', 'actor_1_facebook_likes', 'actor_2_name',
       'actor_top20?.1', 'actor_2_facebook?', 'actor_2_facebook_likes',
       'actor_3_name', 'actor_top20?.2', 'actor_3_facebook?',
       'actor_3_facebook_likes', 'cast_total_facebook_likes',
       'movie_facebook?', 'movie_facebook_likes;', 'facenumber_in_poster',
       'num_voted_users', 'num_user_for_reviews', 'imdb_score',
       'imdb_top_250'],
      dtype='object')

__No. 1__ <br>
How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [98]:
print('No. of rows and columns are in the parentheses (eg. (rows, columns)')
imdb.shape

No. of rows and columns are in the parentheses (eg. (rows, columns)

(3781, 36)

**No. 2** <br>
What are the top 3 movies with highest nett profit in 2015?

In [34]:
imdb_drop[(imdb_drop['title_year'] == 2015)][['movie_title', 'net_USD', 'title_year']].sort_values(by=('net_USD'), ascending=False)[0:3].reset_index(drop=True)

               movie_title    net_USD  title_year
0           Jurassic World  502177271        2015
1                  Minions  262029560        2015
2  Avengers: Age of Ultron  208991599        2015

**No. 3** <br>
What are the top 3 movies with highest gross profit in 2016?

In [36]:
imdb_drop[(imdb_drop['title_year'] == 2016)][['movie_title', 'gross_USD', 'title_year']].sort_values(by=('gross_USD'), ascending=False)[0:3].reset_index(drop=True)

                  movie_title  gross_USD  title_year
0  Captain America: Civil War  407197282        2016
1                    Deadpool  363024263        2016
2             The Jungle Book  362645141        2016

**No. 4** <br>
How many non-English movies are in the dataset?

In [99]:
print('The number of non-English movies is on the True row:')
(imdb_drop['language'] != 'English').value_counts()

The number of non-English movies is on the True row:

False    3527
True      152
Name: language, dtype: int64

**No. 5** <br>
What are top 3 languages in the data set aside English (based on number of movies)?

In [71]:
imdb_drop[(imdb_drop['language'] != 'English')][['language', 'movie_title']].groupby('language').count().sort_values(by='movie_title', ascending=False)[0:3]

          movie_title
language
French             33
Spanish            23
Mandarin           13

**No. 6** <br>
What are the top 3 countries with the highest nett profit in all dataset times?

In [73]:
imdb_drop[['country', 'net_USD']].groupby('country').sum().sort_values(by='net_USD', ascending=False)[0:3]

             net_USD
country
USA      50330300012
UK        1279724445
Canada     232040577

**No. 7** <br>
What are the average budget of all movies in dataset in 2015?

In [84]:
imdb_drop[(imdb_drop['title_year'] == 2015)][['budget_USD']].mean()

budget_USD    5.210246e+07
dtype: float64

**No. 8** <br>
What are the average budget of all movies in dataset in 2016?

In [81]:
imdb_drop[(imdb_drop['title_year'] == 2016)][['budget_USD']].mean()

budget_USD    6.601475e+07
dtype: float64

**No. 9** <br>
 Which one is higher, average budget of all movies in dataset in 2015 or 2016?

In [87]:
print('If false, then the average budget of all movies in 2016 is higher than in 2015.')
imdb_drop[(imdb_drop['title_year'] == 2015)][['budget_USD']].mean() > imdb_drop[(imdb_drop['title_year'] == 2015)][['budget_USD']].mean()

If false, then the average budget of all movies in 2016 is higher than in 2015.

budget_USD    False
dtype: bool

**No. 10** <br>
What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [94]:
imdb_drop[['movie_title', 'net_USD']].sort_values(by='net_USD', ascending = False)[0:1]

  movie_title    net_USD
0      Avatar  523505847