# Practice Case 01

**Initial Data Analysis of German Credit Store Dataset**

**Input Data**

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/arikunco/GermanCredit/master/dataset/german_credit_data_with_risk.csv', encoding='latin1')

In [2]:
data.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [3]:
data.shape

(1000, 11)

In [48]:
data.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

## Part A

**1. How many rows and columns are reflected in the dataset?**

In [181]:
print('The number of rows and columns in the dataset are as follows: (rows, columns)')
print(data.shape)

The number of rows and columns in the dataset are as follows: (rows, columns)
(1000, 12)

**2. What is the minimum, maximum, and mean of the customer's age?**

In [6]:
data[['Age']].describe()

               Age
count  1000.000000
mean     35.546000
std      11.375469
min      19.000000
25%      27.000000
50%      33.000000
75%      42.000000
max      75.000000

In [115]:
data[['Age']].mean()

Age    35.546
dtype: float64

In [8]:
data[['Age']].min()

Age    19
dtype: int64

In [9]:
data[['Age']].max()

Age    75
dtype: int64

**3. How many are male and how many are female? Why?**

In [67]:
print('The number of males is ', end='')
print(len(data[data['Sex'] == 'male']))

The number of males is 690

In [68]:
print('The number of females is ', end='')
print(len(data[data['Sex'] == 'female']))

The number of females is 310

In [16]:
print('There are more males than females perhaps because males are predominantly the breadwinners of the family and the ones with the responsibility of the household financing.')

There are more males than females perhaps because males are predominantly the breadwinners of the family and the ones with the responsibility of the household financing.

**4. How many high skilled workers customers reflected in the dataset?**

In [70]:
print('The number of highly skilled workers is ', end='')
print(len(data[data['Job'] == 3]))

The number of highly skilled workers is 148

**5. How many customers who own the house?**

In [71]:
print('The number of customers who own the house is ', end='')
print(len(data[data['Housing'] == 'own']))

The number of customers who own the house is 713

**6. How many customers who have 'rich' Saving accounts?**

In [72]:
print('The number of customers who have "rich" saving account is ', end='')
print(len(data[data['Saving accounts'] == 'rich']))

The number of customers who have "rich" saving account is 48

**7. How many customers who do not have checking accounts or have zero checking account?**

In [28]:
data['Checking account'].unique()

array(['little', 'moderate', nan, 'rich'], dtype=object)

In [165]:
print('Assuming nan is for people who have no checking account, the number of customers who have no checking account is:')
pd.isna(data[['Checking account']]).sum()

Assuming nan is for people who have no checking account, the number of customers who have no checking account is:

Checking account    394
dtype: int64

**8. Who is the one who have highest credit amount? Show us the profile of the age, sex, job, housing, saving
account, and checking account!**

In [46]:
data[['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Credit amount']].sort_values(by='Credit amount', ascending=False)[0:1].reset_index(drop=True)

   Age     Sex  Job Housing Saving accounts Checking account  Credit amount
0   32  female    3     own          little         moderate          18424

**9. How many customers are classified as good risk and bad risk?**

In [74]:
print('The number of customers who are classified as good risk is ', end = '') 
print(len(data[data['Risk'] == 'good']))

The number of customers who are classified as good risk is 700

In [75]:
print('The number of customers who are classified as bad risk is ', end = '') 
print(len(data[data['Risk'] == 'bad']))

The number of customers who are classified as bad risk is 300

**10. Is the average of credit amount for good risk is higher than bad risk?**

In [81]:
data[['Risk', 'Credit amount']].groupby('Risk').mean()

      Credit amount
Risk
bad     3938.126667
good    2985.457143

In [82]:
print('The credit amount for good risk is lower than the credit amount for bad risk.')

The credit amount for good risk is lower than the credit amount for bad risk.

## Part B

10 more questions and answers regarding the dataset:

**1. What is the average age, credit amount, and loan duration for each group/category of home owners?**

In [86]:
data[['Housing', 'Age', 'Credit amount', 'Duration']].groupby('Housing').mean()

               Age  Credit amount   Duration
Housing
free     43.814815    4906.212963  27.453704
own      35.593268    3060.939691  20.328191
rent     30.368715    3122.553073  19.240223

**2. What is the average age, credit amount, and loan duration for each loan purpose? Round to one decimal point.**

In [95]:
data[['Purpose', 'Age', 'Credit amount', 'Duration']].groupby('Purpose').mean().round(1)

                      Age  Credit amount  Duration
Purpose
business             35.5         4158.0      26.9
car                  37.1         3768.2      20.8
domestic appliances  34.2         1498.0      16.8
education            38.3         2879.2      19.7
furniture/equipment  32.5         3067.0      19.3
radio/TV             34.7         2487.7      20.0
repairs              38.5         2728.1      19.1
vacation/others      39.9         8209.3      32.3

**3. Is the number of customers who borrow for car lower than for education?**

In [102]:
car = len(data[data['Purpose'] == 'car']) 
edu = len(data[data['Purpose'] == 'education'])

if car > edu:
    print('There are more customers who borrow for cars than for education.')
else:
    print('There are more customers who borrow for education than for cars.')

There are more customers who borrow for cars than for education.

**4. What is the average age of customers who have 'little' saving accounts?**

In [112]:
data[(data['Saving accounts'] == 'little')][['Saving accounts', 'Age']].groupby('Saving accounts').mean()

                       Age
Saving accounts
little           35.139303

**5. Create a group which indicates high, medium, and low credit amounts for which the cutoff for each group is on your own choosing.**

In [122]:
data['Credit amount'].describe()

count     1000.000000
mean      3271.258000
std       2822.736876
min        250.000000
25%       1365.500000
50%       2319.500000
75%       3972.250000
max      18424.000000
Name: Credit amount, dtype: float64

In [118]:
data['Credit group'] = data['Credit amount'].apply(lambda x: 'High' if x > 3500 else('Medium' if x > 2000 else 'Low'))

In [121]:
data.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Credit group
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good,Low
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad,High
2,2,49,male,1,own,little,NaN,2096,12,education,good,Medium
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good,High
4,4,53,male,2,free,little,little,4870,24,car,bad,High

**6. What is the average age and duration of loan for each credit group?**

In [123]:
data[['Credit group','Age', 'Duration']].groupby('Credit group').mean()

                    Age   Duration
Credit group
High          35.792994  30.818471
Low           35.784722  14.125000
Medium        34.834646  20.173228

**7. What is the number of good and bad risk customers based on their purpose of loan?**

In [166]:
print('The number of good risk customers:')
data[(data['Risk'] == 'good')][['Purpose', 'Risk']].groupby('Purpose').count()

The number of good risk customers:

                     Risk
Purpose
business               63
car                   231
domestic appliances     8
education              36
furniture/equipment   123
radio/TV              218
repairs                14
vacation/others         7

In [167]:
print('The number of bad risk customers:')
data[(data['Risk'] == 'bad')][['Purpose', 'Risk']].groupby('Purpose').count()

The number of bad risk customers:

                     Risk
Purpose
business               34
car                   106
domestic appliances     4
education              23
furniture/equipment    58
radio/TV               62
repairs                 8
vacation/others         5

**8. What is the percentage of good risk customers who borrow for business?**

In [153]:
data[(data['Risk'] == 'good') & (data['Purpose'] == 'business')][['Purpose', 'Risk']].groupby('Purpose').count() / data[(data['Purpose'] == 'business')].count() [['Risk']]

              Risk
Purpose
business  0.649485

**9.Who are the top 3 female customers who borrow for education based on credit amount? Show the age, job, and housing.**

In [160]:
data[(data['Purpose'] == 'education') & (data['Sex'] == 'female')][['Age', 'Job', 'Housing', 'Credit amount']].sort_values(by='Credit amount', ascending = False)[0:3].reset_index(drop=True)

   Age  Job Housing  Credit amount
0   23    2    rent           8471
1   25    3     own           8065
2   24    2    free           5743

**10. Is the percentage of good risk customers who borrow for radio/TV higher than for furniture/equipment?**

In [180]:
rad = len(data[(data['Purpose'] == 'radio/TV') & (data['Risk'] == 'good')]) / len(data[data['Purpose'] == 'radio/TV'])
fur = len(data[(data['Purpose'] == 'furniture/equipment') & (data['Risk'] == 'good')]) / len(data[data['Purpose'] == 'furniture/equipment'])

if rad > fur:
    print('The percentage of good risk customers who borrow for radio/TV is higher than the percentage of good risk customers who borrow for furniture.')
else:
    print('The percentage of good risk customers who borrow for furniture is higher than the percentage of good risk customers who borrow for radio/TV.')

The percentage of good risk customers who borrow for radio/TV is higher than the percentage of good risk customers who borrow for furniture.

## Part C

**Business problems from the dataset**

1. Which product (based on the loan purpose) should be focused for sales (increasing the number of customers for that particular purpose) if we want to increase profit (increasing percentage of good risk customer)?
2. What is the most profitable product and what are the demographics (age, sex, housing) that we can target for marketing for that product?
3. Which demographics (age, sex, housing, saving and checking accounts) are the most probable to be a bad risk customer, and thus should be avoided for marketing?